<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/site.css" type="text/css" />
  <title>Stratus360 - Coding Case Study</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" href="#">Stratus360 - Coding Case Study: Cyber City Comics</span>
      </div>
        <ul class="nav navbar-nav">
          {{#navLink "/"}}Home{{/navLink}}
        </ul>
        <ul>
          <a href="/comic/{{next}}">next</a>
          <a href="/comic/{{randomNum}}">random</a>
          <a href="/comic/{{previous}}">previous</a>
        </ul>
      </div><!-- /.container-fluid -->
  </nav>
  <div class="body-core">
    <div class="container">
      {{{body}}}
    </div>
  </div>
</body>

</html>