
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/site.css" type="text/css" />
      <title>Stratus360 - Coding Case Study</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <span class="navbar-brand" href="#">Stratus360 - Coding Case Study: Cyber City Comics</span>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{#navLink "/"}}Home{{/navLink}}
            {{#navLink "/about"}}About{{/navLink}}
          </ul>
          <ul>
            <a href="/comic/{{next}}">next</a>
            <a href="/comic/{{previous}}">previous</a>
            <a href="/comic/{{randomNum}}">random</a>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body> 
</html>